 {{#if success}}
    <div class="container-messageAlert">
        <div class="container-messageAlert-box">
            <h3>{{ success }}</h3>
            <input type = "button" class="closeAlert-button" onclick="location.reload()"/>
        </div>
    </div>

{{/if}}

{{#if message}}
    <div class="container-messageAlert">
        <div class="container-messageAlert-box">
            <h3>{{ message }}</h3>
            <input type = "button" class="closeAlert-button" onclick="location.reload()"/>
        </div>
    </div>
{{/if}}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../scripts/sweetMessage.js"></script>

{{#if username.username}}
    <script type="text/javascript"> 
        alertSwalUsername(`{{username.username}}`); 
    </script> 
{{else}}
    {{#if messageSwal}}
        <script type="text/javascript">  
            alertSwalMessage(`{{messageSwal}}`, false); 
        </script>
    {{/if}} 
{{/if}}
