<div class="container">
    <div class="container-form__link">
        <div class="main-title__link">{{Action}}</div>
        <form action="/links/edit/{{link.id}}" method="POST" id= "formLink">
            <div class="fields">
                <div class="group-input">
                    <i class="far fa-eye"></i>
                    <input type="text" name="title" required minlength="4" maxlength="20" autocomplete="on" value = "{{link.title}}" autofocus >
                </div>
                <div class="group-input">
                    <i class="fas fa-globe"></i>
                    <input type="text" name="url" value = "{{link.url}}" required> 
                </div>
                <div class="group-textarea">
                    <i class="far fa-edit"></i>
                    <textarea minlength="4" maxlength="100" name="description" rows="2" required>{{link.description}}</textarea>
                </div>                
            </div>
            <button type="submit" class="submitButton">
                Save
            </button>
        </form>
    </div>
</div>
{{!-- <script>
    const _container = document.querySelector(".container");
    _container.addEventListener("click", function () {
        alert("hola");
    });
</script> --}}