{{#if links}}
    
    <div class="container-list">
    {{#each links}}
        <ul class="more-actions-menu">
            <li><a href="/links/edit/{{id}}">Edit link</a></li>
            <li><a onclick ="alertSwalDeleteLink({{id}})" id = "link-delete-link" href="#">Remove</a></li>
            <li><a onclick ="alertSwalInfoLink({{id}}, `{{title}}`, `{{url}}`, `{{description}}`, `{{timeago created_at}}`)" href="#">Info Link</a></li>
        </ul>
        
        <div class="container-link">
            <i class="fas fa-ellipsis-v icon-more-vertical" title="More actions"></i>
            <a href="{{url}}" target="_blank" class="container-link-hidden" title="{{url}}">
                <img src=https://www.google.com/s2/favicons?domain_url={{url}}  alt="">
                <p>{{title}}</p>
            </a>
        </div>
    {{/each}}
    </div> 

    <script>
        const _container_list = document.querySelector(".container-list");
        const _more_actions_menuList = document.querySelectorAll(".more-actions-menu");
        const _moreActionBtnList = document.querySelectorAll(".icon-more-vertical");
        const _containerLinkList = document.querySelectorAll(".container-link");
        
        for (let i = 0; i < _containerLinkList.length; i++)
        {

            _more_actions_menuList[i].style.display ="none";

            _more_actions_menuList[i].addEventListener("mouseleave", function () {
                if (_more_actions_menuList[i].style.display == "block") {
                    _more_actions_menuList[i].style.display ="none";
                }
            });


            _moreActionBtnList[i].addEventListener("click", function () {
                let coords = _moreActionBtnList[i].getBoundingClientRect();
                // alert(coords.left)
                if (_more_actions_menuList[i].style.display == "none") {
                _more_actions_menuList[i].style.display ="block";
                _more_actions_menuList[i].style.top=coords.top + 5 + "px";
                _more_actions_menuList[i].style.left=coords.left - 120 + "px";
                _more_actions_menuList[i].focus();

                } else {
                _more_actions_menuList[i].style.display ="none";
                }
            })
            _containerLinkList[i].addEventListener("mouseover", function () {
            _moreActionBtnList[i].style.display = "block";
            });
            
            _containerLinkList[i].addEventListener("mouseleave", function () {
            _moreActionBtnList[i].style.display = "none";
            });
        }
    </script> 
{{else}}

    <div class="container-list"></div>
        <div class="container-linksNoSaved">
            <div class="container-message">
                <h3>There are not links saved yet.</h3>
            </div>
            <div class="container-button-a">
                <a href="/links/add">
                    Create One!!
                </a>
            </div>
        </div>
    </div>
{{/if}}




